body {
  font-family: "museo-sans", sans-serif;
  padding-top: 0px;
}

ul {
  list-style-type: none;
}

.footer .contact li {
  display: inline;
}

header {
  background-color: #59646D;
  color: #D8DDD9;
  padding-top: 4em;
  padding-bottom: 1em;
}

header h2 {
  font-style: italic;
  font-weight: normal;
}

header h3 {
  font-weight: normal;
}

.services {
  padding-top: 2.5em;
  padding-bottom: 1em;
}

.services li {
  margin-left: 0.3em;
  font-size: 23px;
  line-height: 32px;
  font-style: italic;
}

ul.contact {
  margin-left: 0;
}

@media (min-width: 1200px) {
  header {
    padding-top: 6em;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  header {
    padding-left: 20px;
  }
  footer {
    padding-left: 20px;
  }
}