body {
  font-family: "museo", serif;
  background-color: #C7D2C0;
}

h2 {
  font-weight: normal;
  font-size: 30px;
}

.presentation {
  padding: 40px;
  text-align: center;
  background-color: #EBEBE7;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

@media (min-width: 1200px) {
  .presentation {
    margin-top: 6em;
  }
}

@media (min-width: 800px) {
  .presentation {
    margin-top: 3em;
  }
}

.presentation img {
  width: 100%;
  opacity: 0.1;
}

ul {
  margin-top: 1.5em;
  list-style-type: none;
}

li {
  font-size: 16px;
  line-height: 21px;
}

.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
  font-style: italic;
  font-weight: lighter;
  color: #C7D2C0;
}